.headerText{
    text-align: center;
}

.container{
    text-align: center;
    vertical-align: middle;
    width:50%;
    margin:30px auto;
    border: 2px solid black;
    padding: 30px 0px;
}

table,th,tr{
    border: 1px solid black;
}

table{
    margin: 0px auto;
}