<div class="container">
    <div class="row justify-content-center">
        <div class=col>
            <h2>Login</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <form [formGroup]='loginRef' (ngSubmit)=checkUser()>
                <div class="row justify-content-left">
                    <label>UserName: </label> <input type="text" formControlName=user>
                </div>
                <div class="row justify-content-center">
                    <label>Password: </label> <input type="password" formControlName=pass>
                </div>
                <br/>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <input type="submit" value="Submit" class="btn btn-primary" id=subBtn> 
                    </div>   
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p class="text-danger">{{msg}} </p>
        </div>   
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button class="btn btn-secondary" (click)="backToRegister()">Back to Registration </button>
        </div>   
    </div>
</div>
